@import "tailwindcss";

body {
  @apply bg-gray-950 text-gray-100;
}

button {
  @apply cursor-pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111827; /* gray-900 */
}

::-webkit-scrollbar-thumb {
  background: #374151; /* gray-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* gray-600 */
}
